@{
    ViewData["Title"] = "Dự Án Cá Nhân Đầu Tay";
}
<h1 class="text-center" style="color: red">@ViewData["Title"]</h1>

<div class="text-center">
    <p>FB: <a href="https://www.facebook.com/som.van.58118/" target="_blank" style="text-decoration: none;">Trần Văn Sơn</a></p>
    <p>SĐT: 0372396282</p>
</div>
