<form method="post" asp-action="Login" asp-controller="Account" asp-area="Customer">
    <input type="text" name="Email" placeholder="Email" required />
    <input type="password" name="Password" placeholder="Mật khẩu" required />
    <button type="submit">Đăng nhập</button>
</form>
